<title>Upload File</title>
<!-- [Meta] -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
name="description"
content=""
/>
<meta
name="keywords"
content=""
/> 
{% load static %}   
<!-- [Template CSS Files] -->
<link rel="stylesheet" href="{% static "css/style.css" %}" id="main-style-link" /> 
<link rel="stylesheet" href="{% static "css/style-preset.css" %}"> 
<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="{% static "fonts/tabler-icons.min.css" %}" />
<!-- Phosphor Icons -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" /> 
<!-- [JQuery JS] -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- DevExtreme Library -->
<script src="https://cdn3.devexpress.com/jslib/23.2.3/js/dx.all.js"></script>
<!-- JS PDF-->
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<!-- DevExtreme CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/24.2.3/css/dx.material.blue.light.css" />  
<script src="https://cdn.jsdelivr.net/npm/vega@6.2.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@6.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@7.0.2"></script>
